<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head('New Task')"></head>
<body>
  <div class="wrapper">
    <nav th:replace="partials/navbar :: navbar"></nav>
    <header class="container my-5">
      <div class="jumbotron">
        <h1 class="text-center display-1">Add a task:</h1>
      </div>
    </header>
    <form th:action="@{/todo/create}" th:method="post" th:object="${task}">
      <label for="title">Title</label>
      <input id="title" th:field="*{title}" type="text" th:placeholder="Title">
      <label for="date">Date</label>
      <input id="date" th:field="*{date}" type="date">
      <label for="time">Time</label>
      <input id="time" th:field="*{time}" type="time">
      <label for="notes">Notes</label>
      <input id="notes" th:field="*{notes}" type="text">

      <button type="submit">Create Task</button>
    </form>
  </div>
</body>
</html>